<section class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Recuperación de contraseña</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="frmUpdatePassword" class="grid-container">
        <div class="col-lg-12">
          <input formControlName="Token" hidden />
        </div>
        <mat-form-field appearance="outline" class="col-lg-12">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="Password" />
          <mat-error *ngIf="frmUpdatePassword.controls['Password']?.errors?.['required']">
            El campo es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-lg-12">
          <mat-label>Confirmación de Contraseña</mat-label>
          <input matInput formControlName="ConfirmPassword" />
          <mat-error *ngIf="frmUpdatePassword.controls['ConfirmPassword']?.errors?.['required']">
            El campo es requerido
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <section>
        <button mat-raised-button color="primary" (click)="Update(frmUpdatePassword.value)">
          Actualizar
        </button>
      </section>
      <section>
        <ul>
          <li>La contraseña debe contener como minimo 8 caracteres.</li>
          <li>La contraseña debe contener como minimo una letra mayuscula.</li>
          <li>La contraseña debe contener como minimo una letra minuscula.</li>
          <li>La contraseña debe contener como minimo 1 numero.</li>
          <li>
            La contraseña debe contener como minimo un de los siguientes
            caracteres especiales(@#$%)
          </li>
        </ul>
      </section>
    </mat-card-footer>
  </mat-card>
</section>
